/* 
 * Este arquivo define os estilos do componente `Letter`,
 * controlando tamanho, cores, tipografia e alinhamento 
 * das letras exibidas no jogo.
 */

.letter {
  width: 3.37rem; /* Define a largura fixa da letra */
  height: 3.37rem; /* Define a altura fixa da letra */
  border-radius: 0.63rem; /* Arredonda levemente os cantos do quadrado da letra */

  background-color: #ebebfc; /* Define a cor de fundo da letra */
  color: #6363db; /* Define a cor do texto da letra */

  text-transform: uppercase; /* Força todas as letras a ficarem em maiúsculas */
  font-size: 2rem; /* Define o tamanho da fonte da letra */
  font-weight: 700; /* Define a espessura da fonte como negrito */

  display: flex; /* Usa flexbox para centralizar o conteúdo */
  align-items: center; /* Alinha o conteúdo verticalmente ao centro */
  justify-content: center; /* Alinha o conteúdo horizontalmente ao centro */
}

.letterSmall {
  width: 2.75rem; /* Define a largura fixa da letra em versão reduzida */
  height: 2.75rem; /* Define a altura fixa da letra em versão reduzida */
  border-radius: 0.43rem; /* Arredonda levemente os cantos do quadrado da letra menor */

  font-size: 1.25rem; /* Define o tamanho da fonte da letra menor */
  font-weight: 500; /* Define a espessura da fonte como média */
  border: 1px solid #6363db; /* Aplica uma borda roxa em volta da letra */
}

.letterCorrect {
  background-color: #e1f5ec; /* Define a cor de fundo verde clara indicando acerto */
  border-color: #03ab47; /* Define a cor da borda em verde para reforçar o acerto */
  color: #03ab47; /* Define a cor do texto em verde */
}

.letterWrong {
  background-color: #ffcf62; /* Define a cor de fundo amarela indicando erro */
  border-color: #691b0a; /* Define a cor da borda em marrom avermelhado para reforçar o erro */
  color: #691b0a; /* Define a cor do texto em marrom avermelhado */
}
