/* 
 * Este arquivo define os estilos principais da aplicação,
 * controlando o layout do container, a aparência da área principal 
 * e a disposição visual das palavras.
 */

.container {
  width: 100%; /* O container ocupa 100% da largura da tela */
  height: 100vh; /* O container ocupa toda a altura da viewport */

  display: flex; /* Usa flexbox para organizar os elementos filhos */
  justify-content: center; /* Centraliza os filhos horizontalmente */
  align-items: center; /* Centraliza os filhos verticalmente */
}

.container main {
  width: 556px; /* Define uma largura fixa para o conteúdo principal */

  background-color: #ffffff; /* Define a cor de fundo branca */
  padding: 2rem; /* Define espaçamento interno em todas as direções */
  padding-top: 4.5rem; /* Define um espaçamento maior no topo */
  border-radius: 0.75rem; /* Arredonda os cantos do conteúdo */
}

.word {
  width: 100%; /* O elemento ocupa toda a largura disponível */
  display: flex; /* Usa flexbox para alinhar as palavras */
  justify-content: center; /* Centraliza os itens horizontalmente */
  flex-wrap: wrap; /* Permite que os itens quebrem para a linha de baixo */
  gap: 1rem; /* Espaçamento entre cada item */

  margin: 2.5rem 0; /* Espaçamento acima e abaixo do bloco */
}

/* .container main h4 {
  color: #32325f;
  font-size: 1.12rem;
  font-weight: 600;
} */

.guess {
  display: flex; /* Usa flexbox para alinhar os elementos filhos em linha */
  gap: 0.75rem; /* Define o espaçamento horizontal entre os itens */
  margin-top: 0.75rem; /* Adiciona um espaçamento acima do bloco */
}

@media (max-widht: 425px) {
  :root {
    font-size: 14px;
  }

  .container main {
    width: 100%;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-10px);
  }

  50% {
    transform: translateX(10px);
  }

  75% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.3s ease-in-out;
}
